<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <a class="navbar-brand">
            We Musicians
        </a>
        <p class="navbar-text pull-right">
            <a href="#/login" class="navbar-link">
                      <span class="glyphicon glyphicon-user" style="color:white">
                      </span>
            </a>
        </p>
    </div>
</nav>

<div class="container-fluid">
    <h3>
        <strong>Top Songs of this Week:</strong>
    </h3>
</div>


<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-header">
        <a class="navbar-brand">
            <i><strong>We</strong> all love music,
                and that gives us the same rights to become <strong>Musicians</strong>.
            </i>
        </a>
    </div>
</nav>