<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <a class="navbar-brand">
            We Musicians
        </a>
        <p class="navbar-text pull-right">
            <a href="#/login" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
            </a>
        </p>
    </div>
</nav>

<div class="container-fluid">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <h3>
        <strong>Top Songs of this Week:</strong>
    </h3>

    <div ng-repeat="song in model.newSongs" class="list-group-item">

        <img class="center-block" ng-src={{song.coverUrl}} width="280px" height="280px"/>


        <!--<div class="row">-->
            <!--<div class="span4"></div>-->
            <!--<div class="span4">-->
                <!--<a href="#/user/{{model.userId}}/album/{{album._id}}">-->
                    <!--{{song.coverUrl}}-->
                <!--</a>-->
                <!--<a href="#/user/{{model.userId}}/album/{{album._id}}/song">-->
                    <!--<img class="center-block" ng-src={{song.coverUrl}} width="280px" height="280px"/>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="span4"></div>-->
        <!--</div>-->
    </div>
</div>

<!--<a href="#/user/{{model.userId}}/album/{{model.albumId}}/song/{{song._id}}/play">-->
    <!--{{song.name}}-->
<!--</a>-->

<!--<a href="#/user/{{model.userId}}/album/{{model.albumId}}/song/{{song._id}}" class="pull-right">-->
    <!--<img class="center-block cdImage" ng-src={{song.coverUrl}} width="280px" height="280px"/>-->
<!--</a>-->


<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-header">
        <a class="navbar-brand">
            <p style="font-size:12px">
                <i><strong>We</strong> all love music,
                    and that gives us the same rights to become <strong>Musicians</strong>.
                </i>
            </p>
        </a>
    </div>
</nav>