<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <a href="#/home" class="navbar-brand">
            We Musicians
        </a>
        <p class="navbar-text pull-right">
            <a href="#/login" class="navbar-link">
                      <span class="glyphicon glyphicon-user" style="color:white">
                      </span>
            </a>
        </p>
    </div>
</nav>



<div class="container-fluid">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>


    <h1>Login</h1>
    <form name="loginForm" id="loginForm" novalidate>
        <div class="form-group">
            <input ng-model="username"
                   name="username"
                   class="form-control"
                   placeholder="username"
                   type="text"
                   required/>
        </div>

        <div class="form-group">
            <input ng-model="password"
                   name="password"
                   class="form-control"
                   placeholder="password"
                   type="password"
                   required/>
        </div>
        <button ng-click="model.login(username, password)"
                class="btn btn-primary btn-block"
                type="submit">Login
        </button>

        <a class="btn btn-success btn-block"
           href="#/register">Register</a>
        <a href="/pauth/facebook" class="btn btn-primary btn-block">
            <span class="fa fa-facebook"></span>
            Facebook
        </a>
    </form>

</div>


<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-header">
        <a class="navbar-brand">
            <i><strong>We</strong> all love music,
                and that gives us the same rights to become <strong>Musicians</strong>.
            </i>
        </a>
    </div>
</nav>

