<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/album/{{model.albumId}}/song/{{model.songId}}/play" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
            </a>
        </p>
        <a class="navbar-brand" href="#">
            Edit Comment
        </a>
    </div>
</nav>

<div class="container-fluid">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <form name="editComment" id="editComment" novalidate>
        <div class="form-group">
            <label for="songName">Title</label>
            <input ng-model="model.comment.title"
                   type="text"
                   class="form-control"
                   id="songName"
                   placeholder="Comment title"
                   required/>
        </div>
        <div class="form-group">
            <label for="commentBody">Body</label>
            <textarea
                    id="commentBody"
                    class="form-control"
                    ng-model="model.comment.body"
                    placeholder="Your comment"
                    rows="5"></textarea>
        </div>

        <button ng-click="model.updateComment(model.comment)"
                class="btn btn-primary btn-block"
                type="submit">Update</button>
        <a class="btn btn-danger btn-block"
           ng-click="model.deleteComment()">Delete</a>

    </form>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner">
            <p class="navbar-text pull-right">
                <a ng-click="model.logout()" class="navbar-link">
                      <span class="glyphicon glyphicon-log-out" style="color:white">
                      </span>
                </a>
            </p>
        </div>
    </nav>
</div>