<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/album/{{model.albumId}}/song" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
            </a>
        </p>
        <a class="navbar-brand" href="#">
            New Song
        </a>
    </div>
</nav>

<div class="container-fluid">

    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <form action="/papi/upload/song"
          method="post"
          enctype="multipart/form-data"
          name="newSong" id="newSong" novalidate>
        <div class="form-group">
            <label for="songName">Name</label>
            <input ng-model="name"
                   type="text"
                   class="form-control"
                   id="songName"
                   name="name"
                   placeholder="Song Name"
                   required/>
        </div>
        <div class="form-group">
            <label>Genre: </label>
            <label><input name="rock" ng-model="RockBox" type="checkbox" value="true">Rock</label>
            <label><input name="jazz" ng-model="JazzBox" type="checkbox" value="true">Jazz</label>
            <label><input name="pop" ng-model="PopBox" type="checkbox" value="true">Pop</label>
        </div>
        <div class="form-group">
            <label for="songUrl">URL</label> (only supports HTML5 video or audio)
            <input ng-model="url"
                   name="url"
                   type="text"
                   class="form-control"
                   id="songUrl"
                   placeholder="Or you may chooose to upload..."
                   required/>
        </div>
        <div class="form-group">
            <label>Upload music</label>
            <input  name="myFile"   type="file" class="form-control"/>
            <input  name="userId" value="{{model.userId}}"   style="display: none"/>
            <input  name="albumId" value="{{model.albumId}}"   style="display: none"/>


        </div>
        <button class="btn btn-block btn-primary">Upload</button>
        <button ng-click="model.createSong(name, url, RockBox, JazzBox, PopBox)"
                class="btn btn-primary btn-block"
                type="submit">Create</button>
        <a class="btn btn-danger btn-block"
           href="#/user/{{model.userId}}/album/{{model.albumId}}/song">Cancel</a>

    </form>


    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                </a>
            </p>
        </div>
    </nav>
</div>
