<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/album/{{model.albumId}}/song" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
            </a>
        </p>
        <a class="navbar-brand" href="#">
            Edit Song
        </a>
    </div>
</nav>

<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <form name="editSong" id="editSong" novalidate>
        <div class="form-group">
            <label for="songName">Name</label>
            <input ng-model="model.song.name"
                   type="text"
                   class="form-control"
                   id="songName"
                   placeholder="Song Name"
                   required/>
        </div>
        <div class="form-group">
            <label for="songUrl">URL</label>
            <input ng-model="model.song.url"
                   type="text"
                   class="form-control"
                   id="songUrl"
                   placeholder="Song URL"
                   required/>
        </div>


        <button ng-click="model.updateSong(model.song)"
                class="btn btn-primary btn-block"
                type="submit">Update</button>
        <a class="btn btn-danger btn-block"
           ng-click="model.deleteSong()">Delete</a>

    </form>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                </a>
            </p>
        </div>
    </nav>
</div>