<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/album/{{model.albumId}}/song" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
            </a>
        </p>
        <a class="navbar-brand" href="#">
            New Song
        </a>
    </div>
</nav>

<div class="container-fluid">

    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <form name="newSong" id="newSong" novalidate>
        <div class="form-group">
            <label for="songName">Name</label>
            <input ng-model="name"
                   type="text"
                   class="form-control"
                   id="songName"
                   placeholder="Song Name"
                   required/>
        </div>
        <div class="form-group">
            <label for="songUrl">URL</label>
            <input ng-model="url"
                   type="text"
                   class="form-control"
                   id="songUrl"
                   placeholder="Song URL"
                   required/>
        </div>
        <div class="form-group">
            <label>Upload song</label>
            <input  name="myFile"   type="file" class="form-control"/>
            <input  name="userId"   value="{{model.userId}}"   style="display: none"/>
            <input  name="name"     ng-model="name"  style="display: none"/>
            <input  name="description" ng-model="description"  style="display: none"/>


        </div>
        <div class="form-group">
            <label>Genre: </label>
            <label><input ng-model="RockBox" type="checkbox" value="">Rock</label>
            <label><input ng-model="JazzBox" type="checkbox" value="">Jazz</label>
            <label><input ng-model="PopBox" type="checkbox" value="">Pop</label>
        </div>

        <button ng-click="model.createSong(name, url, RockBox, JazzBox, PopBox)"
                class="btn btn-primary btn-block"
                type="submit">Create</button>
        <a class="btn btn-danger btn-block"
           href="#/user/{{model.userId}}/album/{{model.albumId}}/song">Cancel</a>

    </form>


    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                </a>
            </p>
        </div>
    </nav>
</div>
