.navbar {
    height: 60px;
}

.navbar-inverse .navbar-brand {
    color: white;
}

p.navbar-text.pull-right {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

.container-fluid {
    padding-bottom: 65px;
    padding-top: 65px;
}