input {
    margin-bottom: 5px;
}

.btn-primary {
    background-color: cornflowerblue;

}

.btn {
    border-radius: 5px;
    margin: 5px;
}

body {
    padding-top: 60px;
}

p.navbar-text.pull-right {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

input.form-control {
    margin-left: 0px;
    width: 100%;
}

.list-group-item {
    border: 0px;
}

a:hover {
    text-decoration: none;
}

.jga-widget-tool {
    float: right;
}

.widget-content {
    padding-bottom: 50px;
}

.jga-widget-tool {
    position: absolute;
    z-index: 1;
    right: 15px;
    background-color: white;
}

.jga-widget {
    padding-bottom: 10px;
}

.col-xs-4 {
    padding: 1px;
}

.row {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid {
    padding-bottom: 55px;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

form.ng-submitted input.ng-invalid {
    background-color: #f4c7c3;
}

.search-box {
    margin: 5px;
}