<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
            </a>
        </p>
        <a class="navbar-brand" href="#">
            New Page
        </a>
    </div>
</nav>

<div class="container">

    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <form name="newPage" id="newPage" novalidate>
        <div class="form-group">
            <label for="pageName">Name</label>
            <input ng-model="name"
                   type="text"
                   class="form-control"
                   id="pageName"
                   placeholder="Page Name"
                   required/>
        </div>
        <div class="form-group">
            <label for="pageTitle">Title</label>
            <input ng-model="title"
                   type="text"
                   class="form-control"
                   id="pageTitle"
                   placeholder="Page Title"
                   required/>
        </div>
        <div class="form-group">
            <label for="description">Page Description</label>
            <textarea ng-model="description"
                      rows="5"
                      id="description"
                      class="form-control"
                      placeholder="..."></textarea>
        </div>

        <button ng-click="model.createPage(name, title, description)"
                class="btn btn-primary btn-block"
                type="submit">Create</button>
    </form>

    <a class="btn btn-danger btn-block"
       href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">Delete</a>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                </a>
            </p>
        </div>
    </nav>
</div>
