<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <h1>Login</h1>

    <div class="form-group">
        <input ng-model="username"
               class="form-control"
               placeholder="username"
               type="text"/>
    </div>

    <div class="form-group">
        <input ng-model="password"
               class="form-control"
               placeholder="password"
               type="password"/>
    </div>
    <a ng-click="model.login(username, password)"
       class="btn btn-primary btn-block">Login</a>
    <a class="btn btn-success btn-block"
       href="#/register">Register</a>
</div>

