<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <h1>Register</h1>

    <form name="registerForm" id="registerForm" novalidate>

        <input ng-model="username"
               class="form-control"
               placeholder="username"
               type="text"
               required/>

        <input ng-model="password1"
               class="form-control"
               placeholder="password"
               type="password"
               required/>

        <input ng-model="password2"
               class="form-control"
               placeholder="verify password"
               type="password"
               required/>

        <button ng-click="model.register(username, password1, password2)"
                type="submit"
                class="btn btn-primary btn-block">Register</button>
    </form>
    <a class="btn btn-danger btn-block"
       href="#/login">Cancel</a>
</div>
