<form name="inputForm" id="inputForm" novalidate>

    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div class="form-group">
        <label for="widgetName">Name</label>
        <input ng-model="model.widget.name"
               type="text"
               class="form-control"
               id="widgetName"
               placeholder="Widget Name"
               required/>
    </div>

    <div class="form-group">
        <label for="class">Bootstrap Class</label>
        <select ng-model="model.widget.class"
                class="form-control"
                id="class"
                value="col-xs-12">
            <option>col-xs-1</option>
            <option>col-xs-4</option>
            <option>col-xs-6</option>
            <option>col-xs-8</option>
            <option>col-xs-12</option>
        </select>
    </div>

    <div class="form-group">
        <label>Text</label>
        <input ng-model="model.widget.text" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Rows</label>
        <input ng-model="model.widget.rows" class="form-control" type="number"/>
    </div>

    <div class="form-group">
        <label>Placeholder</label>
        <input ng-model="model.widget.placeholder" class="form-control"/>
    </div>

    <div class="input-group">
        <input type="text" value="Formatted" class="form-control" readonly>
      <span class="input-group-addon">
        <input ng-model="model.widget.formatted" type="checkbox">
      </span>
    </div>


    <div ng-model="model.widget.text"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
    </div>

    <button ng-click="model.updateWidget()"
            class="btn btn-primary btn-block"
            type="submit">Create</button>
</form>
<a class="btn btn-danger btn-block"
   ng-click="model.deleteWidget()">Delete</a>