<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/album/" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
            </a>
        </p>
        <a class="navbar-brand">
            Edit Album
        </a>
    </div>
</nav>

<div class="container-fluid">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <form action="/papi/upload/edit"  method="post" enctype="multipart/form-data" name="editAlbum" id="editAlbum" novalidate>
        <div class="form-group">
            <label for="albumName">Album Name</label>
            <input ng-model="model.album.name"
                   type="text"
                   class="form-control"
                   id="albumName"
                   placeholder="1984"
                   required/>
        </div>
        <div class="form-group">
            <label for="description">Album Description</label>
            <textarea ng-model="model.album.description"
                      rows="5"
                      id="description"
                      class="form-control"
                      placeholder="..."></textarea>
        </div>

        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.album.url"
                   type="text"
                   class="form-control"
                   id="url"
                   placeholder="www.music.com"/>
        </div>

        <div class="form-group">
            <label>Upload Cover</label>
            <input  name="myFile"   type="file" class="form-control"/>
            <input  name="userId" value="{{model.userId}}"   style="display: none"/>
            <input  name="name" ng-model="model.album.name"  style="display: none"/>
            <input  name="description" ng-model="model.album.description"  style="display: none"/>
            <input  name="url" ng-model="model.album.url"  style="display: none"/>
            <input  name="albumId" value="{{model.albumId}}"  style="display: none"/>
        </div>

        <button class="btn btn-block btn-primary">Upload Image</button>

        <a ng-click="model.updateAlbum(model.albumId, model.album)"
                class="btn btn-primary btn-block"
                type="submit">Update</a>
        <a class="btn btn-danger btn-block"
           ng-click="model.deleteAlbum(model.albumId)">Delete</a>
    </form>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner">
        <p class="navbar-text pull-right">
            <a ng-click="model.logout()" class="navbar-link">
                      <span class="glyphicon glyphicon-log-out">
                      </span>
            </a>
        </p>
    </div>
</nav>