<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <p class="navbar-text pull-left">
            <img ng-src="{{model.user.picture}}">
        </p>

        <a class="navbar-brand">
            <!--{{model.user.username}}-->
            Scott Chen
        </a>

        <p class="navbar-text pull-right">
            Following: 12
            <br />
            Follower: 12
            <!--Following: {{model.user.followings.length}}
            Followers: {{model.user.followers.length}}-->
        </p>
    </div>
</nav>

<!--<div class="container-fluid">-->
    <!--<div class="albums">-->
        <!--<ul class="list-group">-->
            <!--<li ng-repeat="album in model.user.albums" class="list-group-item">-->
                <!--<div class="col-xs-12">-->
                    <!--<a href="#/user/{{model.user._id}}/album/{{album._id}}/song">-->
                        <!--<img ng-src="{{album.picture}}">-->
                        <!--<br />-->
                        <!--{{album.name}}-->
                    <!--</a>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-4"
        </div>
    </div>
</nav>