<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/album/" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
            </a>
        </p>
        <a class="navbar-brand">
            Edit Album
        </a>
    </div>
</nav>

<div class="container-fluid">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <form name="newAlbum" id="newAlbum" novalidate>
        <div class="form-group">
            <label for="albumName">Album Name</label>
            <input ng-model="model.album.name"
                   type="text"
                   class="form-control"
                   id="albumName"
                   placeholder="Google"
                   required/>
        </div>
        <div class="form-group">
            <label for="description">Album Description</label>
            <textarea ng-model="model.album.description"
                      rows="5"
                      id="description"
                      class="form-control"
                      placeholder="..."></textarea>
        </div>

        <div class="form-group">
            <label>Image.......</label>
        </div>

        <button ng-click="model.updateAlbum(model.albumId, model.album)"
                class="btn btn-primary btn-block"
                type="submit">Update</button>
        <a class="btn btn-danger btn-block"
           ng-click="model.deleteAlbum(model.albumId)">Delete</a>
    </form>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner">
        <p class="navbar-text pull-right">
            <a ng-click="model.logout()" class="navbar-link">
                      <span class="glyphicon glyphicon-log-out">
                      </span>
            </a>
        </p>
    </div>
</nav>