<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
            </a>
        </p>
        <a class="navbar-brand">
            New Album
        </a>
    </div>
</nav>

<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <form name="newAlbum" id="newAlbum" novalidate>
        <div class="form-group">
            <label for="albumName">Album Name</label>
            <input ng-model="name"
                   type="text"
                   class="form-control"
                   id="albumName"
                   placeholder="Google"
                   required/>
        </div>
        <div class="form-group">
            <label for="description">Album Description</label>
            <textarea ng-model="description"
                      rows="5"
                      id="description"
                      class="form-control"
                      placeholder="..."></textarea>
        </div>

        <div class="form-group">
            <label>Genre</label>
            <label><input type="checkbox" value="">Rock</label>
            <label><input type="checkbox" value="">Jazz</label>
            <label><input type="checkbox" value="">Pop</label>
        </div>

        <div class="form-group">
            <label>Image.......</label>
        </div>



        <button ng-click="model.createWebsite(name, description)"
                class="btn btn-primary btn-block"
                type="submit">Create</button>
    </form>

    <a class="btn btn-danger btn-block"
       href="#/user/{{model.userId}}/website">Delete</a>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                </a>
            </p>
        </div>
    </nav>
</div>